body {
  background-color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.5;
  color: #333333;
  font-size: 14px;

  a {
    text-decoration: none;
    color: #333333;
  }

  li {
    list-style: none;
  }

  img {
    width: 100%;
    height: auto;
  }

  .sub-title {
    font-size: 30px;
    margin-bottom: 40px;
    margin-top: 200px;
    text-align: center;
    border-bottom: 2px solid #cff3fa;
  }

  .button {
    width: 200px;
    height: 30px;
    background-color: #ffffff;
    border: 3px solid #707070;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    a {
      width: 100%;
      color: #707070;
      text-align: center;
    }
  }

  .blue {
    background-color: #cff3fa;
  }

  .another-top {
    width: 100%;
    height: auto;
  }

  .another-mv {
    img {
      width: 900px;
      height: 600px;
    }

    &::after {
      position: absolute;
      top: 300px;
      right: 0;
      background-color: #cff3fa;
      width: 800px;
      height: 400px;
      content: "";
      z-index: -1;
    }
  }

  .another-phrase {
    height: 100px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 500px;
    left: 0;
    background-color: #ffffff;
    z-index: 1;
    line-height: 100px;
  }
}

@mixin spTab {
  @media print, screen and (max-width: 768px) {
    @content;
  }
}
