.top {
  position: relative;
  margin-top: 90px;

  @include spTab {
    margin-top: 40px;
  }
}

.top-text {
  position: absolute;
  bottom: 0;
  left: 30px;
  color: #ffffff;
  font-size: 70px;

  @include spTab {
    font-size: 30px;
  }
}
